streamlit
google-generativeai
openai
requests
bcrypt
pypdf
jsonschema==4.23.0
supabase
pandas
python-docx
openpyxl
flask
beautifulsoup4
mammoth

# OCR (nếu dùng PDF scan)
pdf2image
pytesseract
Pillow
